body {
  font-family: Arial, sans-serif;
  font-size: 14px;
  /*margin: 20px;
         padding: 20px;*/
}

h1 {
  display: block;
  font-size: 2em;
  -webkit-margin-before: 0.67em;
  -webkit-margin-after: 0.67em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  font-weight: bold;
}

.title {
  text-align: center;
  color: #6aa84f;
}

.section-title {
  font: bold 18px 'Arial';
  color: #990000;
}

table {
  width: 100%;
  font-size: 1.00em;
  border: #000000 1px solid;
  vertical-align: bottom;
  padding: 0px;
  margin: 0px;
  text-align: center;
}

thead {
  display: table-header-group;
  vertical-align: middle;
  border-color: inherit;
  background: #d9ead3;
}

table td,
table th {
  vertical-align: middle;
  border-left: #000000 1px solid;
  border-right: #000000 1px solid;
  border-top: #000000 1px solid;
  border-bottom: #000000 1px solid;
  padding: 0.7em;
}

p {
  display: block;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
}

.red {
  color: #a61c00;
}

.bold {
  font-weight: bold;
}

.annual-cost-wrapper {
  width: 45%;
  float: left;
}

.annual-cost-table {
  /*font-size: 1.5em;*/
  font-weight: bold;
  border: 0;
}

.annual-cost-table td,
.annual-cost-table th {
  border: 0;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.border-bottom {
  border-bottom: #000000 1px solid!important;
}
