#roi-form-wrapper {
  width: 85%;
  margin: 0 auto;
}

#roi-form-wrapper fieldset {
  background: #eee;
}

#roi-form-wrapper fieldset legend {
  background: #a90018;
}

#roi-form-wrapper fieldset legend span {
  color: #fff;
}

#roi-form-wrapper fieldset hr {
  border-top: 1px solid #777;
}

#roi-form-wrapper .form-type-textfield {
  width: 100%;
}

#roi-form-wrapper .form-type-textfield label {
  width: 70%;
  float: left;
}

#roi-form-wrapper .form-type-textfield input {
  width: 30%;
  text-align: right;
}

#roi-form-wrapper .form-type-textfield input:focus {
  background: #fdfd31;
}

#roi-form-wrapper .form-type-textfield input[disabled] {
  box-shadow: none;
  border: 0;
  background: #eee;
  /*font-weight: bold;*/
  color: #666;
}

#roi-form-wrapper .form-type-textfield input[name="main_container[return_investment_calculator][estimated_total_asset_value]"],
#roi-form-wrapper .form-type-textfield input[name="main_container[ghost_assets_management][total_annual_overpayment]"],
#roi-form-wrapper .form-type-textfield input[name="main_container[cost_asset_searches][total_cost_asset_searches]"],
#roi-form-wrapper .form-type-textfield input[name="main_container[total_roi][percentage_across_organization]"],
#roi-form-wrapper .form-type-textfield input[name="main_container[total_roi][percentage_across_organization_75]"],
#roi-form-wrapper .form-type-textfield input[name="main_container[total_roi][percentage_across_organization_90]"],
#roi-form-wrapper .form-type-textfield input[name="main_container[total_roi][projected_first_year_roi]"] {
  font-weight: bold;
}

#roi-form-wrapper .form-type-textfield input[name="main_container[total_roi][projected_first_year_roi]"] {
  /*background: #A90018!important;*/
  font-size: 1.5em;
}

#edit-main-container-total-roi-projected-first-year-roi {
  background: #fff!important;
  text-align: center;
  width: 100%;
  display: inline-block;
}

#roi-form-wrapper .form-item-main-container-total-roi-projected-first-year-roi {
  background: #fff;
  margin: 0;
}

#roi-form-wrapper .form-item-main-container-total-roi-projected-first-year-roi input {
  background: #fff;
}

#roi-form-wrapper .form-item-main-container-total-roi-projected-first-year-roi label {
  /*color:#fff;
	padding: 10px;*/
  width: 100%;
  text-align: center;
  margin-top: 10px;
}

#roi-form-wrapper .form-item-main-container-total-roi-projected-first-year-roi input {
  background: #fff!important;
  text-align: center;
  width: 100%;
}


/*#roi-form-wrapper .arrow-up {
	width: 0;
	height: 0;
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	border-bottom: 15px solid #A90018;
	margin: 0 auto;
}*/

#roi-form-wrapper .tooltip-mark {
  color: #a90018;
}

#roi-form-wrapper .submit-btn-info {
  padding-top: 15px;
  text-align: center;
}

.form-info {
  margin-top: 20px;
}

.form-info .red {
  color: #a90018;
}

.submit-wrapper {
  text-align: center;
}

.roi-table td {
  text-align: center;
  border: 1px solid #eee;
}

#global-throbber {
  display: block;
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0.6;
  filter: alpha(opacity=60);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;
}

#global-throbber .ajax-progress .message,
#global-throbber .ajax-progress-throbber .message {
  display: block;
  color: black;
  font-size: 20px;
  padding: 30px;
}

#global-throbber .ajax-progress .throbber,
#global-throbber .ajax-progress-throbber .throbber {
  display: block;
  float: none;
  margin: 250px auto 0 auto;
  width: 200px;
  height: 200px;
  background: url("../spin.gif") no-repeat center center;
}

#global-throbber .ajax-progress,
#global-throbber .ajax-progress-throbber {
  vertical-align: middle;
  text-align: center;
}
